<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>First</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/send_url.js"></script>
    </head>
    <body>
        <div class="top-wrapper">
            <div class="top-detail">
                <h2 class="subtitle">金銭トラブルを起こしたくない人のために</h2>
                <h1 class="title">おごリスト</h1>
                <a href="/index" class="index-button">一覧を見る</a>
            </div>
            <div class="top-image">
                <img src="/images/top.png">
            </div>
        </div>
    </body>
</html>
